h1, h2{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    text-align: center;
}
p{
    margin: 10px;
}
strong{
    font-family: 'Caveat', sans-serif;
}
body {
    background-image: url("pattern.png");
}
em{
    padding: 2px;
    border-bottom: double;    
}
 
body{
    text-align: center;
    background-size: cover;
}