h1,
h2,
li {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    text-align: center;
}

p {
    margin: 10px;
}

strong {
    font-family: 'Caveat', sans-serif;
}

body {
    background-image: url("pattern.png");
    text-align: center;
    background-size: cover;
}


#conteiner {
    width: 1300px;
    margin: 0 auto;
}


#left {
    width: 600px;
    float: left;
    min-height: 1000px;
    margin-right: 20px;

}

#right {
    width: 750px;
    min-height: 1000px;
    margin-left: 50%;

}

ol {
    list-style-type: none;

}

h1 {
    margin: auto 0;
}